:root {
    --offwhite: rgb(214, 214, 214);
}




button {
    border: none;
    background-color: white;
}


img {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--offwhite);
}

.container-card {
    background-color: white;
}


.small-font {
    font-size: 8pt;
}

.color-green {
    color: rgb(143, 199, 58);
}



/*NOTE: always put your media queries at the button so classes that you create do not overrrrrride them */

@media(max-width:768px) {
    .color-green {
        color: red;
    }

    img {
        width: 200%;
        height: 200%;
        /*position: absolute;
        top: -10vh;*/
    }


}